
body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)), url(../image/bg-2.jpg);
    background-size: cover;
    background-position: center;
}
.tableCont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60%;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
    transform: translate(-50%,-50%);
}
h3{
    text-align: center;
}
h1{
    
    margin-top: 50px !important;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.float-right {
    margin-right: 20px;
    margin-top: -50px !important;
}
.logout{
    color: #ffffff;
}
.logout:hover{
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #000000;
    text-align: left;
}
th{
    
    background-color: #588c7e;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.modal-dialog{
    background-color: #ffffff;
    border-radius: 25px;
    
}
.modal-backdrop{
    z-index: -1;
}
