body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)), url(../image/bg-2.jpg);
    background-size: cover;
    background-position: center;
}
.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}
.login-left{
    background: rgba(211, 211, 211, 0.5);
    padding: 30px;
}
.login-right{
    background: #fff;
    padding: 30px;
}
.form-control{
    background-color: transparent !important;
}

.loginForm{
    margin-top: 50%;
}
.headLogin{
    color: #fff;
}
.login-left label {
    color: #fff;
}
.login-left input[type=text], .login-left input[type=password]{
    border-color: black;
}
a:link, a:visited {
    color: #fff;
}